nav {
    background: rgba(0, 0, 0, 0.3);
    width: max-content;
    /* display: block; */
    padding: 0.7rem 1.7rem;
    z-index: 2;
    position: fixed;
    left: 50%;
    transform: translate(-50%);
    bottom: 2rem;
    display: flex;
    gap: 0.8rem;
    border-radius: 3rem;
    backdrop-filter: blur(15px);
}

nav a {
    background: transparent;
    padding: 0.8rem;
    border-radius: 50%;
    display: flex;
    color: var(--color-light);
    font-size: 1.1rem;
}

nav a:hover {
    background: rgba(0, 0, 0, 0.2);
}

nav a.active {
    background: var(--color-primary);
    color: var(--color-bg);
}

.nav__parent .nav__btn {
    padding: 5px;
    cursor: pointer;
    background-color: transparent;
    border: none;
    outline: none;
    color: var(--color-light);
    visibility: hidden;
    opacity: 0;
    font-size: 2rem;
    font-weight: bold;
}

@media screen and (max-width:720px) {
    .nav__parent {
        display: flex;
        align-items: center;
        justify-content: space-between;
        height: 80px;
        padding: 0 2rem;
        color: white;
        /* background-color: white; */
    }

    .nav__parent .nav__btn {
        visibility: visible;
        opacity: 1;
    }

    nav {
        /* position: fixed;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 1rem;
        background-color: var(--color-bg);
        transition: var(--transition);
        transform: translateY(-100vh); */

        background: rgba(0, 0, 0, 0.3);
        width: 100%;
        height: 40%;
        display: flex;
        align-items: center;
        justify-content: center;
        z-index: 2;
        position: fixed;
        top: 0;
        left: 0;
        transform: translateY(-100vh);
        transition: var(--transition);
        bottom: 0rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 0.8rem;
        border-radius: 3rem;
        backdrop-filter: blur(15px);
    }

    .responsive__nav {
        transform: none;
    }

    .nav__parent .nav-close-btn {
        position: absolute;
        top: 2rem;
        right: 2rem;
    }

    .nav__parent .nav-menu-btn {
        position: fixed;
        top: 2rem;
        right: 0.5rem;
    }
}