header {
    height: 85vh;
    padding-top: 3rem;
    overflow: hidden;
}

.header__container {
    text-align: center;
    height: 100%;
    position: relative;
}

.details {
    display: grid;
    grid-template-columns: 60% 30%;
    align-items: center;
    /* justify-content: center; */
    gap: 2rem;
}

.details__image {
    display: flex;
    /* margin: 0 0 0 10px; */
    height: 330px;
    width: 330px;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    box-shadow: 0 1px 0px 0px var(--color-white);
}

.details__image-background {
    height: 92%;
    width: 92%;
    border-radius: 50%;
    background-image: url('../../assets/Profil_2.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.details__image-background:hover {
    transform: scale(1.07);
    transition: 1s ease-out;
}

/* IMAGE */
/* .me {
    background: linear-gradient(var(--color-primary), transparent);
    width: 22rem;
    height: 38rem;
    position: absolute;
    left: calc(50% - 11rem); 
    margin-top: 2rem;
    border-radius: 8rem 8rem 0 0;
    overflow: hidden;
    padding: 2rem 1.5rem 0 1.5rem; 
} */


/* ==========CTA========== */
.cta {
    display: flex;
    justify-content: center;
    gap: 2rem;
    margin-top: 2rem;
}

/* =========HEADER SOCIALS========= */
.header__socials {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.4rem;
    position: absolute;
    left: 0;
    /* bottom: 3rem; */
}

.header__socials::after {
    content: '';
    width: 2px;
    height: 2rem;
    background: var(--color-primary);
}



/* SCROLL DOWN */
.scroll__down {
    position: absolute;
    right: -2.6rem;
    margin-top: 3rem;
    /* bottom: 5rem; */
    transform: rotate(90deg);
    font-weight: 300;
    font-size: 0.9rem;
}

/* MEDIA QUERIES (MEDIUM DEVICES) */
@media screen and (max-width:1024px) {
    header {
        height: 50vh;
    }

    .details {
        margin: 0 4rem 0 0;
    }

    .details__image {
        width: 300px;
        height: 300px;
        margin: 0 10px 0 4px;
    }
}

/* MEDIA QUERIES (SMALL DEVICES) */
@media screen and (max-width:600px) {
    header {
        height: 80vh;
    }

    .details {
        display: flex;
        flex-direction: column-reverse;
        margin: 0;
    }

    .details__image {
        width: 250px;
        height: 250px;
        margin: 0 0 0 4px;
    }

    .header__socials,
    .scroll__down {
        display: none;
    }
}

/* MEDIA QUERIES (EXTRA SMALL DEVICE) */
@media screen and (max-width:375px) {
    header {
        height: 85vh;
    }

    .details__image {
        width: 250px;
        height: 250px;
        margin-top: -40px;
    }
}